.header {
    font-size: 30px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    overflow: scroll;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}
